[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Trent Rand
	email = contact@trentrand.com
	username = trentmrand
[core]
	editor = vim
	excludesfile = /Users/trand/.gitignore_global
[rebase]
	autosquash = true
[rerere]
	enabled = false
[push]
	default = current
[difftool]
	prompt = false
[alias]
  diff = !git diff -- ':!**/package-lock.json' ':!**/yarn.lock' ':!**/npm-shrinkwrap.json'
  personalprofile = !git config user.email \"contact@trentrand.com\" && git config user.username \"trentrand\"
[includeIf "gitdir:~/Developer/work/"]
  path = ~/Developer/work/.gitconfig
[status]
	submoduleSummary = true
[init]
	defaultBranch = master
[log]
  abbrevCommit = true
[diff]
	algorithm = patience
